@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.itemCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

.itemCard {
  display: flex;
  border: 1px solid black;
  height: 50px;
  width: 90%;
  align-items: center;
}

.itemMidContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 76vw;
}

.itemEndContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nickName {
  border: 1px solid black;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 2px;
  margin: 3px;
  font-size: small;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

button {
  height: 20%;
  margin: 10%;
  width: 5vw;
  margin: 11px;
}